[submodule "ace-documentation"]
	path = ace-documentation
	url = https://github.com/vantagedesign/ace-documentation
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/vantagedesign/ace-documentation
[submodule "themes/ace-documentation"]
	path = themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation
[submodule "themes/holy"]
	path = themes/holy
	url = https://github.com/serkodev/holy
